# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/
rag_env/

# Environment variables
.env
*.env

# VS Code settings
.vscode/
.history/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Logs and databases
*.log
*.sqlite3
*.db
*.bak

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*.tmp
*.out
*.old
*.orig
*.rej